.review {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    @include forms-h1;

    @include screen-xs {
      font-size: 1.6rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .rating {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    .icon {
      height: 2.4rem;
      color: $accent-pink;
      fill: $soft-pink;
      stroke: $accent-pink;

      &.selected {
        fill: $accent-pink;
      }
    }
  }
}
