.collection {
    margin: 1rem 0;

    .minty {
        background-color: #c3e7c2;
    }

    .berry {
        background-color: #f2c8e0;
    }

    .citrus {
        background-color: #fce6a3;
    }

    .lavender {
        background-color: #f0e2fb;
    }

    .coconut {
        background-color: #eae0cc;
    }

    .peachy {
        background-color: #fdd9d0;
    }
}