/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/client/pages/Landing/Landing.module.scss ***!
  \*******************************************************************************************************************************************************************/
.xnHHh1BlgPaHKUL9m5eC {
  background-color: pink;
  height: 30px;
}
/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/client/pages/Product/Product.module.scss ***!
  \*******************************************************************************************************************************************************************/
.LV0uSHr5MQO_2JiWJ2Q4 {
  background-color: red;
  color: black;
  height: 30px;
}
