.logo {
    justify-self: center;
    font-family: $text-font-libre-sans;
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $text-color;
}