.profileDetails {
  display: flex;
  flex-direction: column;

  .title {
    @include forms-h1;
  }

  .main {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    @include screen-s {
      gap: 1rem;
    }

    .subTitle {
      @include forms-h2;
    }

    .infoText {
      font-family: $text-font-public-sans;
      color: $text-color;
      text-transform: none;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.04em;
    }
  }
}